@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #a300cc;
    background-image: -webkit-linear-gradient(to right, #3385ff, #a300cc);
    background-image: linear-gradient(to right, #3385ff, #a300cc);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}